@use '../abstracts' as *;

* { 
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: font-size(medium);

   @include media(breakpoint(mobile)) {
      font-size: font-size(small);
   }
}

body {
   background: url(/images/bg-pattern.svg) no-repeat top / 100% 60%;

   @include media(breakpoint(mobile)) {
      background-size: 100% 50%;
   }
}