@use '../abstracts' as *;

* { 
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: font-size(medium);
}

body {
   background-image: url(/images/bg-pattern.svg);
   background-repeat: no-repeat;
}