@use '../sections/' as *;
@use '../abstracts/' as *;

.price-component-slider {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: rem(50) rem(50) rem(35); // top, right/left, bottom
    gap: rem(48) rem(5);
    
    &__slider {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        -webkit-appearance: none;
        height: rem(10);
        outline: none;
        border-radius: rem(20);
        background: linear-gradient(90deg, color-primary(soft-cyan) 50%,
        color-neutral(light-grayish-blue0) 50%);
        
    }

    > input[type=range]::-webkit-slider-thumb, > input[type=range]::-moz-range-thumb {
        height: rem(50);
        width: rem(50);
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 rem(15) rem(28) lighten($color: color-primary(strong-cyan), $amount: 20);
        // Slider's icon
        background: url(/images/icon-slider.svg) no-repeat center;
        background-color: color-primary(strong-cyan);
        -webkit-appearance: none;

        &:active {
            background-color: darken($color: color-primary(strong-cyan), $amount: 10)
        }
    }

    &__price-label {
        grid-column: 11 / -1;
    }

    &__price-num {
        grid-column: 10 / 11;
    }

    &__pageviews {
        grid-column: 1 / 7;

    }
    
    @include media(breakpoint(mobile)) {
        &__price-label {
            grid-column: 7 / -1;
        }
    
        &__price-num {
            grid-column: 6 / 7;
        }
    
        &__pageviews {
            grid-column: 6 / -1;
        }
    }
}